.md-header__title,
.md-header__topic,
.md-header__button.md-logo {
  display: none !important;
}

.md-header__inner {
  justify-content: center !important;   /* centers everything inside header */
}

.md-tabs {
  justify-content: center !important;   /* centers tab bar if shown separately */
}

.md-tabs__list {
  justify-content: center !important;
}

.md-header__option {
  margin-left: auto !important;
  margin-right: auto !important;
}

.md-nav__title .md-logo {
  display: none !important;
}

/* ───────── Sleek custom footer styling ───────── */
.custom-footer {
  background: #f7f9fb;
  border-top: 1px solid #e0e0e0;
  padding: 0.1rem 0;
  text-align: center;
  font-size: 0.7rem;
  color: #444;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
}

.md-typeset h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
  /* margin-top: 2rem;
  margin-bottom: 1rem; */
}

.md-typeset h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  /* margin-top: 1.8rem;
  margin-bottom: 0.8rem; */
}

.md-typeset h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #444;
  /* margin-top: 1.5rem;
  margin-bottom: 0.5rem; */
}

.md-typeset p {
  color: #555;
  /* font-size: 1.05rem;
  line-height: 1.75; */
}

/* Style top-level sidebar section titles */
.md-nav__item--section > .md-nav__link {
  font-weight: 600;
  font-size: 0.8rem;
  color: #2b2929 !important;
}

.mermaid {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  overflow-x: auto;
  padding: 1rem 0;
}

.mermaid svg {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
